server:
  port: ${PORT:8091}

management:
  endpoints:
    web:
      base-path: /

spring:
  application:
    name: User Profile API
  jackson.date-format: yyyy-MM-dd
  flyway.enabled: true

### database configuration
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${DB_UP_POSTGRES_HOST:localhost}:${DB_UP_POSTGRES_PORT:5432}/${DB_UP_USERNAME:dbuserprofile}${DB_UP_CONNECTION_OPTIONS:?}
    username: ${DB_UP_USERNAME:dbuserprofile}
    password: ${DB_UP_PASSWORD:dbuserprofile}
    properties:
      charSet: UTF-8
    tomcat:
      max-active: 10
      max-idle: 10
      min-idle: 2
      max-wait: 10000
      test-on-borrow: true
      test-on-connect: true
      test-on-idle: true
      validation-query: "SELECT 1"
      time-between-eviction-runs-millis: 10000
      test-while-idle: true
      test-on-return: true
      remove-abandoned: true
      remove-abandoned-timeout: 60
      log-abandoned: true
      abandon-when-percentage-full: 0
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true

security:
  anonymousPaths:
    - "/"
    - "/health"
    - "/loggers/**"
    - "/swagger-ui.html"
    - "/swagger-resources/**"
    - "/v2/api-docs"
    - "/webjars/springfox-swagger-ui/**"
    - "/favicon.ico"
  authorisedServices:
    - "iac"

### dependency configuration
auth.idam.client.baseUrl: ${IDAM_URL:http://127.0.0.1:4501}
auth.idam.client.detailsUri: "/details"
auth.provider.service.client.baseUrl: ${S2S_URL:http://127.0.0.1:4502}
idam.s2s-auth.totp_secret: ${UP_S2S_SECRET:AAAAAAAAAAAAAAAC}
idam.s2s-auth.microservice: ${UP_S2S_MICROSERVICE:iac}
idam.s2s-auth.url: ${S2S_URL:http://127.0.0.1:4502}
