spring:
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:dbuserprofile;IGNORE_UNKNOWN_SETTINGS=TRUE;INIT=create domain if not exists json as text;
    platform: h2
    username: ${POSTGRES_USERNAME:dbuserprofile}
    password: ${POSTGRES_PASSWORD:dbuserprofile}
  jpa:
    show-sql: false
  main:
    allow-bean-definition-overriding: true
    security:
      oauth2:
        client:
          provider:
            oidc:
              issuer-uri: ${OPEN_ID_API_BASE_URI:https://idam-web-public.aat.platform.hmcts.net/o}
          registration:
            oidc:
              client-id: microservicekey-rd-user-profile-api
              client-secret: ${S2S_SECRET:AAAAAAAAAAAAAAAA}
security:
  anonymousPaths:
    - "/"
    - "/csrf"
    - "/health"
    - "/health/liveness"
    - "/loggers/**"
    - "/swagger-ui.html"
    - "/swagger-resources/**"
    - "/v2/api-docs"
    - "/webjars/springfox-swagger-ui/**"
    - "/favicon.ico"
    - "/error"

idam:
  s2s-auth:
    totp_secret: ${S2S_SECRET:AAAAAAAAAAAAAAAA}
    microservice: rd_user_profile_api
    url: ${S2S_URL:http://127.0.0.1:8990}

  s2s-authorised:
    services: ${PRD_S2S_AUTHORISED_SERVICES:rd_user_profile_api}
  api:
    url: ${IDAM_URL:http://127.0.0.1:5000}

oidc.issuer: ${OIDC_ISSUER_URL:https://forgerock-am.service.core-compute-idam-aat.internal:8443/openam/oauth2/hmcts}

loggingComponentName: RD_User_Profile_API