java:
    # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    POSTGRES_HOST: rd-user-profile-api-postgres-db-v16-{{ .Values.global.environment }}.postgres.database.azure.com
    POSTGRES_USERNAME: pgadmin
    SPRING_JPA_OPEN-IN-VIEW: false
    APPLICATION_LOGGING_LEVEL: DEBUG