java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  aadIdentityName:
  environment:
    POSTGRES_HOST: "{{ .Release.Name }}-postgresql"
    POSTGRES_NAME: "{{ .Values.postgresql.postgresqlDatabase}}"
    POSTGRES_USERNAME: "{{ .Values.postgresql.postgresqlUsername}}"
    POSTGRES_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"

  postgresql:
    enabled: true
    postgresqlUsername: dbuserprofile
    postgresqlPassword: dbuserprofile
    postgresqlDatabase: dbuserprofile
    #Whether to deploy the Postgres Chart or not
    enabled: true
  keyVaults:
    rd:
      secrets:
        - s2s-secret