java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    POSTGRES_HOST: "{{ .Release.Name }}-postgresql"
    POSTGRES_NAME: "{{ .Values.postgresql.auth.database}}"
    POSTGRES_USERNAME: "{{ .Values.postgresql.auth.username}}"
    POSTGRES_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    LAUNCH_DARKLY_ENV: "preview"
    ENVIRONMENT_NAME: "preview"


  postgresql:
    enabled: true
    auth:
      username: dbuserprofile
      password: dbuserprofile
      database: dbuserprofile
  keyVaults:
    rd:
      secrets:
        - name: user-profile-api-s2s-secret
          alias: USER_PROFILE_API_S2S_SECRET
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: LD-SDK-KEY
          alias: LD_SDK_KEY
